/**
 * The CSS in this file provides styles for the bill
 * the page of the Riverside Burger Bash website. The
 * file also includes styles for the table itself on 
 * the bills page of the website. The table includes 
 * a series of fields each containing info pertaining
 * any given meal that was ordered by the customer.
 * Styles are included for the majority of device sizes. 
 * The sizing sections, created through media queries
 * in CSS, include: Less Than Mobile View, Mobile 
 * View, Larger View, Desktop View, Maximum View, 
 * and Beyond Maximum View. The file helps ensure
 * that clean, simple styles are applied to this
 * part of the website on most device sizes.
 *
 * Project: Riverside Burger Bash
 * Author: Andrew Krause
 * Class: CS 202
 * Date: 10/14/2022
 *
 */

/* ====================================================================
                        BILL.EJS STYLES (all-sizes)
==================================================================== */
/* TRY MAKING THE TABLE FOR RESPONSIVE LATER ON... */

#bill-list {
    height: 100%;
    padding-top: 0px;
}

.bill-container {
    margin-top: 20px;
    background-color: var(--p1-burger-darkgray);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(119, 119, 119);
    border: solid 3px var(--p1-burger-darkgray);
}

/* Order bill page header styles */
.order-header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    background-color: var(--p1-burger-darkgray);
    color: var(--white);
    border: solid 3px var(--p1-burger-darkgray);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Main styles for the table */
.table-container {
    overflow-x: auto;
    padding: 30px;
    background-color: var(--white);
}

table {
    table-layout: fixed;
    word-break: break-all;
    width: 100%;
    border: 2px solid var(--p1-burger-darkgray);
    text-align: center;
    border-collapse: collapse;
    border-radius: 5px;
}

th, td {
    border: 1px solid var(--p1-burger-darkgray);
    font-weight: bold !important;
}

td:first-child, th:first-child {
    border-left: none;
} 

.money-highlight {
    background-color: var(--p1-burger-moneycolumn);
}

.money-highlight-total {
    background-color: var(--p1-burger-moneycolumntotal);
}

/* Order bill page footer styles */
.order-footer {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    background-color: var(--p1-burger-darkgray);
    color: var(--white);
    border: solid 3px var(--p1-burger-darkgray);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cash-card-buttons {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.bill-card-number {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bill-end-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--white);
    color: var(--p1-burger-darkgray);
    border-radius: 10px;
    font-size: 24px;
}

/* ====================================================================
            BILL.EJS STYLES (mobile, larger, desktop, maximum)
==================================================================== */

/* Smaller View (like iPhone) */
@media (max-width: 750px) {

    #bill-list {
        height: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

/* Larger View (like iPad and above) */
@media (min-width: 650px) {

    #bill-list {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 20px;
    }
}